{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

   <form>
  <div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="bg-white py-6 rounded-md px-10 max-w-lg shadow-md">
      <h1 class="text-center text-lg font-bold text-gray-500">Registration</h1>
      <div class="space-y-4 mt-6">
       

        {{ form_start(registrationForm) }}
        <div class="w-full ">
        {{ form_row(registrationForm.email,{'attr': {'class': 'm-4 px-4 py-2 bg-gray-50'} })  }}
        </div>
        <div class="w-full ">
        {{ form_row(registrationForm.plainPassword,{
           'attr': {'class': 'm-4 px-4 py-2 bg-gray-50'} }
        ) }}</div>
        <div class="w-full">
        {{ form_row(registrationForm.agreeTerms,{'attr': {'class': 'm-4 px-4 py-2 bg-gray-50'} }) }}
        </div>
 </div>
        <button type="submit" class="w-full mt-5 mb-5 bg-teal-800 text-white py-2 rounded-md font-semibold tracking-tight">Register</button>
    {{ form_end(registrationForm) }}
    </div>
  </div>
</form>
{% endblock %}

